{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Página de inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nemo suscipit placeat modi voluptatum iusto debitis repudiandae aspernatur, temporibus deserunt quo quae pariatur accusamus dicta ipsa, neque quasi quibusdam vitae?
    Eveniet tempora voluptatem provident aut rem deleniti ratione, minima incidunt earum delectus impedit consequuntur minus odio optio soluta, quidem assumenda iusto necessitatibus totam pariatur? Animi, a. Ad aut dicta voluptatum!
    Necessitatibus vitae ex sit quis aperiam quasi repellendus fuga illo odio nesciunt tempore, magnam quisquam eum delectus tempora voluptatem, voluptates rem nulla officia mollitia? Nobis dignissimos laudantium ullam beatae. Impedit.
    Quisquam, ipsum possimus saepe doloribus alias placeat, repudiandae, nulla voluptates maxime sint quis vel. Sapiente, vel! Nesciunt voluptatum cumque quia similique et incidunt, voluptates cupiditate ipsam dolor, explicabo molestiae esse!
    Porro unde iste, deleniti iusto, exercitationem sequi a similique reprehenderit delectus reiciendis, facere in molestiae aut impedit. Repudiandae nihil nostrum sapiente non, dicta vero voluptatem ullam, illum dolore autem nisi!
    Libero, accusamus. Aut nulla tempora libero ex exercitationem, hic voluptates et laudantium temporibus saepe, quasi sit quia tenetur corrupti illo repudiandae incidunt consectetur non ea eum quod vel! Nobis, aut!
    Ipsam tenetur obcaecati sequi id unde tempora accusamus deserunt at placeat incidunt impedit veniam fuga enim hic quisquam vero dolore, ab cum mollitia minus inventore facere nam voluptatem laboriosam? Possimus.
    Velit, suscipit totam et fugiat fugit animi aliquid enim aspernatur officia dolore vel dolores veritatis eligendi eaque sunt dicta quos repudiandae vitae obcaecati labore, nostrum sapiente incidunt. Culpa, dicta saepe?
    A labore odio quisquam saepe? Unde suscipit asperiores quaerat aut iure nulla sed eaque magni? Corrupti necessitatibus libero perferendis, aspernatur quas non molestiae similique porro, atque nihil dignissimos mollitia rerum.
    Veniam deserunt laborum labore ratione molestias, enim dolorum dolore optio aspernatur error similique sequi reiciendis perspiciatis porro, quaerat, reprehenderit repellat. Inventore, deleniti. Fuga cumque minus, voluptates voluptas officiis voluptate aspernatur!</p>
{% endblock %}