<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <naver>
            <ul>
                <li><a href="{% url 'inicio:iniciov1' %}">Inicio</a></li>
            </ul>
        </naver>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Django App. All rights reserved.</p>
    </footer>
</body>
</html>